[submodule "js-lib/scion"]
	path = js-lib/scion
	url = git://github.com/jbeard4/SCION.git
[submodule "lib/python-spidermonkey"]
	path = lib/python-spidermonkey
	url = git://github.com/davisp/python-spidermonkey.git
[submodule "js-lib/es5-shim"]
	path = js-lib/es5-shim
	url = git://github.com/kriskowal/es5-shim.git
[submodule "lib/jsonml"]
	path = lib/jsonml
	url = git://github.com/mckamey/jsonml.git
[submodule "js-lib/json"]
	path = js-lib/json
	url = git://github.com/douglascrockford/JSON-js.git
